@font-face{
    font-family: robot;
    src: url("../fonts/Roboto-Thin.ttf");
}

html,body{
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    height: 100vh;
}

.center-crop{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.img-main{
    background-image: url("../images/arbol.jpeg");
    height: 270px;  
    clear: left;    /*quita el float pero queda sobre la imagen*/ 
}

.nav{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.nav li{
    /*display: inline-block;*/
    float: left;
}

.nav li a{
    cursor: pointer;
    display: block;
    padding: 10px;
    color: #665544;
    font-weight: lighter; 
    font-family: robot;

    
}

.nav li:hover {
    background: yellowgreen;
    
}

.nav .login {
    background: skyblue;
    color: white;
    float: right;
}
.nav .login a:hover{
    background: darkslateblue;
}

.nav .login a{
    color: white;
}
/*--------------------------------------------------*/
/* lista despelgable*/
/*--------------------------------------------------*/
.downdrop-content{
    display: none;
    background: #e6e6e7;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);/*Sombra*/
    width: 180px;
    position: absolute;
}

.downdrop-content a{
    padding: 5px;
}

.downdrop:hover .downdrop-content{
    display: block;
}

.downdrop-content a:hover{
    background: yellowgreen;
}
/*--------------------------------------------------*/
/*Secciones con scroll */
/*--------------------------------------------------*/
/*
.section{
    min-height: 500px;
    padding: 20px;
}
*/
/* se cambio secction por container. Relaciones entre clases solo a los primeros hijos*/
.container > div{
    min-height: 500px;
    padding: 20px;
}

/*Cada seccion par*/
.container > div:nth-child(even){
    background:  #efefef;
}

/*genera scroll en el container y no el toda la pantalla*/
.container{
    overflow: auto;
    clear: left;
    height: 90%;
    min-height: 90%;
    display: block;

}
/*--------------------------------------------------*/
/*Diseño de la tabla*/
/*--------------------------------------------------*/
.table1, .table2{
    width: 100%;
    border-collapse: collapse;
    /*border: 1px solid color #777777;*/
}

.table1 td, .table th, .table2 th, .table2 td{
    padding: 10px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.table1 tr:nth-child(odd){
    background: #dddddd;
}

.table1 tr:nth-child(even){
    background: #b9b9b9; 
}

.table1 tr:first-child{
    background: cadetblue;
    color: white;
}

.table2 tr{
    border-bottom: 1px solid #999999
}

.table2 tr:first-child{
    background: darkslategrey;
    color: whitesmoke;
    border: none;
}

.table2 td:first-child{
    font-weight: bold;
}
/*--------------------------------------------------*/
/*Diseño para formulario*/
/*estilos referenciando atributos*/
/*--------------------------------------------------*/
form input{
    display: block;
    width: 100%;
    margin: 5px 0px 15px 0px;
}
form input[type="submit"]{
    width: auto;
    padding: 7px;
    background: #33b5e5;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    transition: background 0.5s, box-shadow 0.5s; /* cambio es mas lento*/
}
form input[type="submit"]:hover{
    background: mediumseagreen;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}

form input[type="text"], form input[type="email"],textarea{
    border: 1px solid #777777;
    border-radius: 10px;
}

form input[type="text"]:focus, form input[type="email"]:focus, textarea:focus{
    border: 1px solid seagreen;
    border-radius: 10px;
    outline: none;
}

form label{
    font-size: 0.9em;
    font-weight: bold;
}

form textarea{
    width: 400px;
    height: 200px;
}


































